{% load thumbnail %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      {% if post.group %}
        <li class="list-group-item">
          Группа: {{ post.group.title }}
        </li>
      {% endif %}
      <li class="list-group-item">
        Автор: {% if post.author.get_full_name %}
        {{ post.author.get_full_name }}
      {% else %}
        Аноним
      {% endif %}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора: <span>{{ post.author.posts.count }}</span>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile' post.author.username %}">
          все посты пользователя
        </a>
      </li>
      {% if post.group %}
        <li class="list-group-item">
          <a href="{% url 'posts:group_posts' post.group.slug %}">
            все записи группы
          </a>
        </li>
      {% endif %}
      <li class="list-group-item">
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    {% thumbnail post.image "960x339" crop="center" upscale=False as im %}
      <img class="img my-2 rounded-2 img-fluid" src="{{ im.url }}">
    {% endthumbnail %}
    <p>
      {{ post.text|linebreaksbr }}
      {% if post.author == user %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post_edit' post.pk %}">
          редактировать запись
        </a>
      {% endif %}
    </p>
  </article>
</div>